<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eBay.com" parallel="tests" thread-count="1">
    <test name="with Edge browser">
        <parameter name="browserName" value="Edge"/>
        <classes>
            <class name="tests.OnlineShopTest"/>
        </classes>
    </test>
    <test name="with Chrome browser">
        <parameter name="browserName" value="Chrome"/>
        <classes>
            <class name="tests.OnlineShopTest"/>
        </classes>
    </test>
    <test name="with Firefox browser">
        <parameter name="browserName" value="Firefox"/>
        <classes>
            <class name="tests.OnlineShopTest"/>
        </classes>
    </test>
</suite>